* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.head {
  height: 10rem;
  background-color: #007580;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head p {
  color: white;
  font-size: 4rem;
}

.imgHeader {
  height: 4rem;
}

.main {
  height: calc(100vh - 15rem);
  display: grid;
  place-items: center;
  background-color: #d8ebe4;
}

.container {
  border: 0.1rem solid #282846;
  padding: 2rem;
  background-color: #007580;
  width: 80vw;
  max-width: 102.4rem;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #fff;
  text-align: center;
}

.container p {
  font-size: 1.6rem;
  color: #fff;
}

.food {
  height: 5rem;
  background-color: #007580;
  display: grid;
  place-items: center;
}

.food p {
  color: white;
  font-size: 1.5rem;
}
