* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.head {
  height: 5rem;
  background-color: #007580;
  display: grid;
  place-items: center;
}

.head p {
  color: white;
  font-size: 3rem;
}

.main {
  height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
  background-color: #d8ebe4;
}

.container {
  border: 0.1rem solid #282846;
  padding: 2rem;
  background-color: #007580;
  width: 80vw;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #fff;
}

.container p {
  font-size: 1.6rem;
  color: #fff;
}
